body{
    background: url(../img/background/13.png) repeat ;
    height: auto;
    overflow-x: hidden!important;
    width: 100%;
}
menu{
    padding: 0;
    margin:0;
    min-height: 63px;
}
.bg-theme-ash,md-content.gray{
  background-color:#edeaed;
}
.text-theme-ash{
  background: #edeaed;
}

md-content{
  min-height: 400px;
  background-color: transparent;
}

.cover{
    width: 100%;
    height: 260px;
    display: inline-block;
    position: relative;
    z-index: 10;
}
.profile.cover{
    z-index: 78;
    height: 63px;
    background-color: #666;
    position: fixed;
    width: 100%;
    display: inline-table;
    left: 0;
    top: 0;
}

.content-container{
    background-color: #edeaed;
}
.content-container.main{
  display: block;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.navbar-brand{
  position: absolute;
  display: inline-block;
  width: auto;
  z-index: 40;
  top: 50px;
  padding: 10px;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.profile.navbar-brand{
  top: 0px;
  padding: 5px;
  width: auto;

}
.profile.navbar-brand img{
  width: 60px;
}
.profile.navbar-brand a{
    font-size: 1.2rem;
    line-height: 55px;
}
.navbar-brand>img,.navbar-brand>a{
  display: inline-block;
  white-space: nowrap;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.navbar-brand>a{
  color: #fff;
  text-shadow: 0 -1px 5px rgba(0,0,0,.3);
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 68px;
  vertical-align: middle;
}
.cover .cover-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cover-container .img-div{
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    min-height: 260px;
    max-height: 400px;
    overflow: hidden;
    z-index: -1;
    background-color: #efeded;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.imd-div .progress-loader{
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 200px;
  text-align: center;

}
    

    .animate-if.ng-enter, .animate-if.ng-leave {
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }

    .animate-if.ng-enter,
    .animate-if.ng-leave.ng-leave-active {
      opacity:0;
    }

    .animate-if.ng-leave,
    .animate-if.ng-enter.ng-enter-active {
      opacity:1;
    }
    .animate-in{
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      animation:fadeIn;
      animation-duration: 1s;
    }
    .animate-out{
      transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      animation:fadeOut;
      animation-duration: 1s;
    }
    @keyframes fadeIn {
      from {opacity:  0;}
      to {opacity: 1;}
    }
    @keyframes fadeOut{
      from {opacity: 1;}
      to{opacity: 0;}
    }

.search-form{
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 67;
    width: 330px;
}
.search-form.full{
  position: relative;
  display: inline-block;
  width:auto;
}

.search-form.full form{
  width: auto;
}
.search-form.full form md-input-container{
   background-color: transparent;
  width: 0;
  padding-right: 48px;
  display: inline-block;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.search-form.full.search-expand form md-input-container{
  width: 360px;
}
.search-form form,.search-form a{
  display: inline-block;
  white-space: nowrap;
  float: left;
}
.search-form form{
  width: 230px;
}
.search-form >a{
  color: #fff;
  font-size: 17px;
  line-height: 60px;
  vertical-align: middle;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;  
  overflow: hidden;
}
.search-form .dropdown.right-top{
  list-style: none;
  display: inline-block;
  width: 100px;
  position: relative;
}
.search-form .dropdown.right-top >a{
  white-space: nowrap;
  width: 100%;
  position: relative;
  text-align: center;
  display: inline-block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  line-height: 40px;
  margin-top: 15px;
  background-color: #fff;
  color:#424242;
  border-radius: 20px;
  padding: 0 7px;

}
.search-form .dropdown.right-top >ul li a{
  padding: 5px 7px;
  float: none;
  display: inline-block;
  width:auto;
  min-width: 100%;
}
.search-form md-input-container{
    margin:10px;
    padding-right:60px; 
    background-color:rgba(255,255,255,.9);
    border-radius: 3px; 
}
md-input-container.md-icon-right>md-icon:last-of-type{
    
    pointer-events: all;
    cursor: pointer;
    outline: none;
    width: 40px;
    margin-right: 0;
    line-height: 40px;
    top: 0;
    height: 40px;
    padding: 10px;
}
.search-form md-input-container .md-errors-spacer{
    display: none;
}
.search-form input{
    color: #646464;
    margin-left: 20px;
    width: calc(100% - 20px);
    padding-left: 10px;
}
.cool-border{
    border-radius: 3px;
    border: 1px solid;
    border-color: #e9eaed #e9eaed #d1d1d1;
}
.cool-shadow{
    box-shadow:  0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
    -oz-box-shadow:0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);
}

/*Navigation*/

.detail-nav .nav-bar li{
    display: inline-block;
    width: 100%;
    float: none;

}
.detail-nav{
    display: inline-block;
    width: 100%;
    z-index: 10;
    left: 0;
    bottom: 0;
    position: relative;
}
.detail-nav .nav-bar li a{
    padding: 10px 20px ;
    color: #424242
}
.main-nav{
    position: absolute;
    left: 120%;
    top: -10px;
    max-width: 100%;
    overflow: hidden;
}
.main-nav.open{
    left: 0;
}
.nav-bar{
    line-height: 36px;
    vertical-align: middle;
    border-radius: 0;

    margin-bottom: 0;
    background-color: rgba(255,255,255,.9); 
    position: relative;
}

.detail-nav .nav-bar .dropdown >a{
    padding-right: 40px;
}
.detail-nav .nav-bar .dropdown> a:after{
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 0px;
    content: '\f078';
    text-align: center;
    font-family: FontAwesome;

}
.detail-nav .nav-bar .dropdown .sub-heading{
    padding: 6px 20px;
    margin-bottom: 5px;
    color: #7e7e7e;
    border-bottom: 1px solid #ddd;
}
.detail-nav .nav-bar .dropdown.open> a:after{
    content: '\f077';
}
.detail-nav .nav-bar .dropdown a{
    max-width: 100%;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detail-nav .nav-bar .dropdown.open ul li a{
    overflow: hidden;
}
.dropdown-menu{
    min-width: 100%;
    position: relative;
    max-width: 100%;
}
@media(min-width: 768px){

    .detail-nav .nav-bar >li{
        width: auto;
        float: left;
        border-right: 1px solid #646464;

    }
    .detail-nav .nav-bar >li:last-of-type{
        border-right: none;
    }
    .dropdown-menu{
        position: absolute;
        display: block;
        opacity: 0;
        max-width: 400px;
        visibility: hidden;
        transform: scale(1,0) translateY(-50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    .open>.dropdown-menu{
        opacity: 1;
        visibility: visible;
        transform: scale(1,1) translateY(0) ;
    }
    .main-nav{
        position: relative;
        left: 0;
        top: 0;
        overflow: visible;
    }
    .detail-nav{
        position: absolute;
    }
    .detail-nav .nav-bar .dropdown ul li a{
        line-height: 24px;
    }
    .detail-nav .nav-bar .dropdown.open ul li a{
        overflow: inherit;
    }
}

.trans3{
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
}

#nav-icon{
  display: inline-block;
  margin: 10px 0;
  width: 28px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 10px;
  top: -60px;
  z-index: 40;
}
@media(min-width:768px){
    #nav-icon{
        display: none;
    }
    
}



#nav-icon span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 8px;
}

#nav-icon span:nth-child(3) {
  top: 16px;
}

#nav-icon.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.space1{
    display: block;
    margin-top: 10px;
}
.right-pad{
    padding-right: 0;
}
@media (min-width: 768px) {
  .right-pad{
    padding-right: 15px;
  }
}
.card,md-card{
    background-color: #fff;
    box-shadow:  0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
    -oz-box-shadow:0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);
}
.card .card-header{
  font-size: 18px;
  font-weight: bolder;
}
.sidebar md-card{
    margin:0;
}
.content{
    min-height: calc(100vh - 400px);
    background-color: #e9eaed;
}

@media(min-width: 768px){
  .content{
    min-height: calc(100vh - 420px);
  }
}

.m-r-1{
  margin-right: 8px;
}
.p-x-1{
  padding: 0 8px;
}
.data-list{
  padding-left: 24px;
  font-size: 15px;
  line-height: 24px;
}
.data-list li a{
  color: #828282;
  text-decoration: none;
  position: relative;
  line-height: 24px;
}
.data-list li a:before{
  content: '\f079';
  position: absolute;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  text-align: center;
  left: -24px;
  font-family: FontAwesome;
  top:-2px;
}
.data-list li a:hover,.data-list li a:focus,.data-list li a:active{
  color: #424242;
  text-decoration: underline;
}
.back-to-top{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #424242;
  border: 2px solid #fff;
  position: fixed;
  border-radius: 50%;
  right: 20px;
  bottom: 40px;
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  color: #fff;
  z-index: 77;
  cursor: pointer;
  outline: none;
  animation:upDown 2s infinite;
}

/* The animation code */
@keyframes upDown {
    0% {bottom: 40px;}
    50% {bottom: 48px;}
    100%{bottom: 40px;}
}
/* The animation code */
@-webkit-keyframes upDown {
    0% {bottom: 40px;}
    50% {bottom: 48px;}
    100%{bottom: 40px;}
}
footer{

  padding-top: 250px;
}
.footer-block{
  position: relative;
}
.footer-block:before{
  display: inline-block;
  width: 100%;
  height: 250px;
  position: absolute;
  top: -245px;
  left: 0;
  content: '';
  background: url(../img/home/birds-bangladesh.png) no-repeat 100% center;
}
.full-width{
  width: 100%;
}
.pad-t-2{
  padding-top: 20px;
}