.ng-gallery {
  width: 100%;
  height: 100%;
  display: inline-block;
    position: relative;
    text-align: center;
}
.gallery-thumb{
    position: relative;
    opacity: 1;
    
  width: calc(25% - 8px);
  float: left;
  display: inline-block;
  cursor: pointer;
    background: #fff;
    position: relative;
  margin: 4px 4px 0 0; ;
}
.sort-items{
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    width: 100%;
    
}
.sort-items li{
    float: left;
    margin: 10px;
    font-size: 2em;
    display: inline-block;
    
}

img.ng-thumb {
  height: auto;
  width: calc(100% - 4px);
  float: left;
  display: inline-block;
  cursor: pointer;
  padding: 2px;
    background: #fff ;
    position: relative;
}
.thumb-overlay:after{
    
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all .3s ease;
    background: rgba(200,200,250,.5)  url(../img/cd-search.svg) no-repeat center center;
    z-index: 2;
    background-size: contain;   
}
.gallery-thumb:hover .thumb-overlay:after{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.load-more{
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}
.ng-overlay { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000 ;
  opacity: 0.85;
  z-index: 9999;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.ng-gallery-content { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
}

.ng-gallery-content > a.close-popup {
  font-size: 40px;
  float: right;
  color: #e4761e;
  text-decoration: none;
  margin: 0 30px 0 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 0;
}

.ng-gallery-content > a.download-image {
  font-size: 42px;
  float: right;
  color: #e4761e;
  text-decoration: none;
  margin: 0 30px 0 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 63px;
}

.ng-gallery-content > a.nav-left, .ng-gallery-content > a.nav-right {
  color: #e4761e;
  text-decoration: none;
  font-size: 60px;
  cursor: pointer;
  outline: none;
}

.ng-gallery-content > a.nav-left {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.ng-gallery-content > a.nav-right {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.ng-gallery-content > img {
  height: auto;
  max-height: calc(100% - 150px);
  max-width: calc(100% - 100px);
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.ng-gallery-content > img.effect.ng-leave
{ opacity: .3;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0.3; }
      to { opacity: 1; }
}

.ng-gallery-content > span.info-text {
  color: #ffffff;
  display: inline-block;
  width: 100%;
  height: 20px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 80px;
}

.ng-gallery-content > .ng-thumbnails-wrapper {
  width: 400px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails {
  width: 4000px;
  height: 40px;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img {
  width: auto;
  height: 40px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.6;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img:hover, 
.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img.active {
  transition: opacity 0.25s ease;
  opacity: 1;
}

/* Loading - from http://loading.io */
uiload {
  display: inline-block;
  position: relative; 
}

uiload > div {
    position: relative; 
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); 
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); 
  } 
}

@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); 
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); 
    } 
}

@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); 
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); 
  } 
}

@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); 
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); 
  } 
}

.uil-ring-css {
  background: none;
  position: relative;
  top: 0;
  margin: 280px auto 0 auto;
  width: 100px;
  height: 100px; 
}

.uil-ring-css > div {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
    border-radius: 40px;
    box-shadow: 0 6px 0 0 #e4761e;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite; 
}
.slick-prev{
    left: 0;
    width: 40px;
    height: 50px;
    margin-top: -20px;
}
.slick-next{
    right: 0;
    width: 40px;
    height: 50px;
    margin-top: -20px;
}
.slick-prev:before{
  content: '\f053';
  font-family: FontAwesome;
  font-size: 32px;
  line-height: 40px;
  color: #e4761e;
}
.slick-next:before{
  content: '\f054';
  font-family: FontAwesome;
  font-size: 32px;
  line-height: 40px;
  color: #e4761e;

}
.gallery-cards .slick-prev,.gallery-cards .slick-next{
  height: 100px;
  background-color:rgba(213, 234, 185, 0.4);
  margin-top: -50px !important;
}
.gallery-cards .slick-prev:hover,.gallery-cards .slick-next:hover{
  background-color: #d5eab9;
  
}