
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@for $i from 0 through 3 {
    .#{$pad-right}-#{$i}{
        padding-right:10px*$i;
    }
    .#{$pad-left}-#{$i}{
        padding-left:10px*$i;
    }
    .#{$pad-both}-#{$i}{
        padding-right:10px*$i;
        padding-left:10px*$i;
    }
    .#{$pad-all}-#{$i}{
        padding:10px*$i!important;
        
    }
    .#{$pad-top}-#{$i}{
        padding-top:10px*$i;
        
    }
    .#{$pad-bottom}-#{$i}{
        padding-bottom:10px*$i;
        
    }
    .#{$pad-tb}-#{$i}{
        padding-top:10px*$i;
        padding-bottom:10px*$i;
        
    }
    .#{$mar-right}-#{$i}{
        margin-right:10px*$i;
    }
    .#{$mar-left}-#{$i}{
        margin-left:10px*$i;
    }
    .#{$mar-both}-#{$i}{
        margin-right:10px*$i;
        margin-left:10px*$i;
    }
    .#{$mar-all}-#{$i}{
        margin:10px*$i;
        
    }
    .#{$mar-top}-#{$i}{
        margin-top:10px*$i;
        
    }
    .#{$mar-bottom}-#{$i}{
        margin-bottom:10px*$i;
        
    }
    .#{$mar-tb}-#{$i}{
        margin-top:10px*$i;
        margin-bottom:10px*$i;
        
    }
    

}
.bg-danger{
    background-color:$brand-danger;
}
.inline{
    display:inline-block;
}
.bg-light-gray{
    background-color:darken(white, 5%);
}
.badge.sticky{
    position:absolute;
    right:calc(50% - 17px);
    top:15px;
}
.no-radius{
    border-radius:0!important;
}
.full-width{
    width:100%;
}
.center-table{
    &>tbody{
        &>tr{
            &>th{
                vertical-align:middle;
            }
            &>td{
                vertical-align:middle;
            }
        }
    }
    &>thead{
        &>tr{
            &>th{
                vertical-align:middle;
            }
            &>td{
                vertical-align:middle;
            }
        }
    }
    &>tfoot{
        &>tr{
            &>th{
                vertical-align:middle;
            }
            &>td{
                vertical-align:middle;
            }
        }
    }

}
.fix_loader{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:100;
    &.full_screen{
        width:100vw;
        height:100vh;
        line-height:100vh;
        z-index:100000000000;
        position:fixed;
        background-color:transparentize($body-bg, .3);
        overflow:hidden;
    }
}
.post__container{
    padding-top:10px;
    padding-left:10px;

}

.list-card{
    background-color:$body-bg;
    margin:6px;
    &.full{
        width:100%;
        margin:4px 0;
    }

    &-details{
        background-color: darken($body-bg,1%);
        outline:none;
        &:focus,&:hover{
            &:not(.link){
                background-color: darken($body-bg,1%);
            }
        }
    }
}

.md-accent{
    svg {
        path{
            fill:transparent!important;
            stroke:$body-bg!important;
        }
        rect{
            fill:transparent!important;
            stroke:$body-bg!important;
        }
    }
}
.search-form md-input-container input{
    box-shadow:none;
    border-bottom-color:transparent;
    @include transitions(all .2s ease);
    &:focus{ 
            border-bottom:1px solid darken($body-bg, 50%)!important;     
            border-color: darken($body-bg,20%);
            box-shadow: none!important;
    }
}
.main-home{
    min-height:420px;
    display:inline-block;
    width:100%;
}

.page-action{
    position:relative;
    padding:0 10px 0 20px;
    &-container{
        position:relative;
        width:100%;
        display:inline-block;
    }
    &-buttons{
        display:inline-block;
        width:auto;
        line-height:60px;
        vertical-align:top;
    }
}

.page-nav{
    height:68px;
    vertical-align:middle;
}

.top-loader{
    position:relative;
    width:100%;
    md-icon{
        position:absolute;
        left:50%;
        margin-left:-10px;
        top:-40px;
    }
}

.details{
        display:inline-block;
        width:100%;
        height:auto;
        position:relative;
        color:$text-color;
        padding:10px;
        font-size:18px;
        overflow: hidden;
        @include  transitions(all .3s ease);
        span{
            font-size:16px;
        }
        &.expandable{
            max-height: 0;
            padding:0;
            visibility:hidden;
            opacity: 0;
            &.expand{
                max-height:100%;
                opacity:1;
                visibility:visible;
            }

        }
        .data-container{
            padding-bottom:10px;
            h3{
                margin-top:10px;
                margin-bottom:10px;
                text-align:left;
            }
        }
    }
.md-dialog-backdrop{
    z-index:400;
}
md-dialog{
    padding-top:20px;
    &.pre-render{
        width: 60%;
        z-index: 450;
        position: absolute;
        min-width: 320px;
        left: 20%;
        top: 100px;
    }
    .dissmiss-button{
        position:absolute;
        right:10px;
        top:10px;   
    }
}
.md-select-menu-container{
    z-index:550;
}

.form-container{
    width:100%;
    min-width:100%;
    @media only screen and (min-width: 321px) and (max-width: 1023px){
            min-width:320px;
    }
    @media only screen and (min-width: 1024px) {
            min-width:420px;
    }
    padding:20px;
    
    &.posts{
        width:calc(80vw - 60px);
        @media (max-width:600px){
            width:calc(100vw - 60px);
        }
    }
}

.ImageUpload{
    position: relative;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-right: 10px;
    input{
        position: absolute;
        z-index: 2;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    span.md-button{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 10px;
        height: 185px;
        display: inline-block;
        vertical-align: middle;
        i{
    
            margin-top: 10px;
            font-size:64px;
        }
    }

    
}
.file-img-container{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-right: 10px;
    border-radius:10px;
    z-index:1;
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        min-width: 100%;
        max-width: 360px;
        min-height: 200px;
        max-height: 400px;
        margin-left:50%;
        z-index:0;
        @include transforms(translateX(-50%));
    }
    video{
        width:100%;
        height:100%;

    }
    .file-remove-icon{
        position: absolute;
        z-index: 5;
        cursor: pointer;
        color:$text-color;
        background-color:$body-bg;
        padding:4px;
        outline:none;
        border-radius:50%;
        top:4px;
        right:4px;
    }
}

.model-container{
    position:relative;
    display:block;
    overflow-x:hidden;
    overflow-y:auto;
    width:100%;
    height:100%;
    .dissmiss-button{
        position:fixed;
        right:0;
        top:4px;
        z-index:2;
    }
    
   
    .rich-text{
        min-height:200px;
    }
}

 .progress-container{
    position:relative;
    width:100%;
    height:auto;
    display:inline-block;
    background-color:transparentize($body-bg, .3);
    color:$text-color;
    font-weight:bold;
    text-align:center;
    .form-progress-counter{
        margin-right:20px;
        font-size:18px;
    }
    &.fixed{
        position:fixed;
        bottom:0;
        left:0;
        z-index:2;
        .inner{
            position:relative;
            display:inline-block;
            width:100%;
            height:100%;
        }
    }
}

.grid {
    text-align:center;
    .grid-container{
        line-height:12rem;
        white-space: nowrap;
        vertical-align:middle;
        overflow:hidden;
        text-overflow:ellipsis;  
        text-align:center;
        .grid__item{
            width: 12rem;
            height:12rem;
            margin:20px auto;
            border-radius:50%;
            .grid__item__container{
                display:inline-block;
                width:100%;
                height:100%;
                .grid__item__block{
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    font-size: 1rem;
                    line-height: 1;
                    left: 0;
                    top: 0;
                    vertical-align: middle;
                    md-icon{
                        width:100%;
                        height:40%;
                        margin-top:20px;
                        svg path,svg rect{
                            color:$text-color!important;
                            fill:$text-color!important;
                        }
                    }
                    span{
                        font-size:1.2rem;
                        margin-top:10px;
                    }
                }
            }
           &.grid-item-inner{
            margin:10px;
           }

            @include transitions(all .3s ease);
            font-size:1rem;
            line-height:12rem;
            position:relative;
            h2{
                white-space:normal;
            }
            &:before{
                border-radius:50%;
            }
        }
        
    }
    &.small .grid-container{
            line-height:7rem;
            .grid__item{
                width:7rem;
                height:1.2rem;
                line-height:1.2rem;
                min-height:40px;
                margin:5px ;
                padding:4px;
                background-color:$body-bg;
                border-radius:0;
                font-size:.8rem;
                &.active{
                    background-color:darken(white,8%);
                    font-weight:bold;
                    &:before{
                        border:3px solid lighten($forground,10%);
                    }
                }
                md-icon{
                    padding:2px;
                }
                &:before{
                    border-radius:0;
                }
            }

        } 
   
}

.image-gallery{

    margin:20px 10px;
    display:block;

    .gallery-card{
        margin: 0;
        padding: 2px;
        height: 25vh;
        max-height:260px;
        overflow: hidden;
        position:relative;
        img{
            position:absolute;
            height:auto;
            width:auto;
            min-width:100%;
            max-width:320px;
            min-height:100%;
            max-height:420px;
            z-index:0;
            left:0;
            top:0;
            margin-left:50%;
            @include transforms(translateX(-50%));

        }
        video{
            position:relative;
            width:100%;
            height:100%;
            display:inline-block;
            background-color:darken($body-bg,10%);
            &.video-gallery{
                position :absolute;
            }
        }
        md-icon{
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 4;
            background-color: transparentize($body-bg, .3);
            padding: 4px;
            border-radius: 50%;
            outline:none;
        }
        loader{
            z-index: 1;
            position: absolute;
            left: auto;
            right: auto;
            width: 100%;
            top: 40%;
        }
        .image__overlay{
            position:absolute;
            display:inline-block;
            width:100%;
            height:100%;
            left:0;
            top:0;
            z-index:2;
            line-height:25vh;
            border-radius:0;
            outline:none;
            text-align:center;
            &__icon{
                outline:none;
                left:auto;
                right:auto;
                border-radius:0;
                color:$body-bg;
                background-color:transparent;
                font-size:24px;
                width:64px;
                height:64px;
                position:relative;
                vertical-align:middle;
                opacity:0;
                @include transitions(opacity .3s ease);
            }
        }&:hover{
            .image__overlay__icon{
                opacity:1;
            }
        }
  
    }
}
.menu_label{
    width:calc(100% - 47px);
    .meta__label{
        
        line-height:60px;
        vertical-align:middle;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
}
svg path,svg rect{
    color:$text-color!important;
    fill:$text-color!important;
}

.form_submit{
   position:relative;
   width:100%;
   display:inline-block;
   z-index:1;
   text-align:right;

}
.bottom-fix{
    position: fixed;
    bottom:0;
    left:calc(50% - 60px);
    
   }

.form_view{
    &_header{
        display:inline-block;
        padding:10px 0;
        font-size:14px;
        font-weight:bold;
    }
    &_body{
        font-size:70%;
    }
}